.pagination {
  padding: 40px 0;

  &__limit {
    text-align: center;
    width: 50px;
    padding: 0;
    border-radius: 10px;
    font-size: 18px;
    height: 25px;
    outline: none;
    appearance: none;
    & :focus {
      outline: none;
    }
  }
  &__wrapper {
    height: 40px;
    justify-content: center;
    display: flex;
  }
  &__pages {
    padding: 0 20px;
    display: flex;
    align-items: center;
  }
  &__page {
    font-size: 18px;
    width: 27px;
    margin: 0px 6px;
    cursor: pointer;
    color: inherit;
  }
}

.active {
  font-weight: 700;
  border-radius: 50px;
  background: white;
  color: red;
}
