.error {
  position: absolute;
  top: 0;
  left: 0;
  background: url('../../assets/error_bg.jpg') no-repeat;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: end;
  display: flex;

  &__title {
    color: red;
    padding-right: 100px;
  }
}
