.hero {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: minmax(210px, auto);
  border-radius: 15px;
  gap: 10px;
  box-shadow: 1px 1px 1px white;
  transition: 0.5s;
  &:hover {
    background: brown;
    box-shadow: 1px 1px 1px #ffa5007d;
    .hero__link {
      font-weight: 700;
      color: white;
    }
    .hero__title {
      color: black;
    }
  }
  &__wrapper {
    margin: auto;
  }
  &__image {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  &__title {
    color: white;
    margin-bottom: 10px;
    transition: 0.5s;
  }
  &__link {
    color: orange;
    transition: 0.5s;
  }
}
